.cart {
    width: 35%;
    height:fit-content;
    padding: 15px;
    position: sticky;
    top: 60px; 
}

.button-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.btn{
    margin-bottom: 10px;
}